<body>
<h1>Editing Book</h1>

<div class="error">
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

  <h7>Title</h7>
  <div class="title">
    <%= f.text_field :title %>
  </div>
  
  <h7>Body</h7>
  <div class="body">
  <%= f.text_area :body %>
  </div>
  
  <div class="submit">
  <%= f.submit 'Update Book' %>
  </div>

<% end %>

<%= link_to 'show', book_path(@book.id) %>
<%= link_to 'back', books_path %>
